In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import seaborn as sns
import nltk
from nltk.corpus import stopwords
import re

In [23]:
# Import SMS spam dataset
spam_data = pd.read_csv('data/SMSSpamCollection.csv', sep='\t', names=['label', 'message'])
display(spam_data.head())
print(f'Number of rows: {len(spam_data)}')

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

Number of rows: 5572

In [24]:
# Imputing any null values with empty space, if present
print(f'Before imputation: \n{spam_data.isnull().sum()}')
spam_data = spam_data.fillna('')
print(f'------------------')
print(f'After imputation: \n{spam_data.isnull().sum()}')

Before imputation:
label      0
message    0
dtype: int64
------------------
After imputation:
label      0
message    0
dtype: int64

In [30]:
# Split into train, validation, and test sets
train_val, test = train_test_split(spam_data, test_size=0.15, random_state=42)
train, val = train_test_split(train_val, test_size=(0.15/0.85), random_state=42)
print(f'Size of training set: {len(train)}')
print(f'Size of validation set: {len(val)}')
print(f'Size of testing set: {len(test)}')
assert(len(train) + len(val) + len(test) == len(spam_data))

Size of training set: 3900
Size of validation set: 836
Size of testing set: 836

# Exploratory Data Analaysis (EDA)

In [ ]:
display(train.head())
print(f'Message body of one spam message: {train.loc[train['label'] == 'spam', ]}')

     label                                            message
4243  spam  Show ur colours! Euro 2004 2-4-1 Offer! Get an...
4801   ham  its cool but tyler had to take off so we're go...
1592   ham                     That's my honeymoon outfit. :)
4769   ham         I'm not sure if its still available though
4470   ham  Nothing, smsing u n xy lor. Sorry lor da guys ...